<div>
    <form method="post" action="~/Controllers/SSPESController">
        <label for="Eingabe">Jetzt das eigene Zeichen wählen.</label>
        <br /> 0:Schere | 1:Stein | 2:Papier | 3:Echse | 4:Spock <br/>
        <input type="text" id="Schere" name="eingabe" placeholder="Hier Zeichen eingeben.">
        <input type="submit" id="Schere" name="eingabe" value="Auswahl bestätigen.">

        <br />
    </form>
</div>